@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
      margin:0;
      padding:0;
      box-sizing: border-box;
      font-family: 'Poppins',sans-serif;
}

body{
      background:#081b29;
}

.header{
      position: fixed;
      top: 0;
      left: 0;
      width:100%;
      padding:20px 10%;
      background-color: #081b29;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 100;
}
.logo{
      font-size: 25px;
      color:aliceblue;
      text-decoration: none;
      font-weight: 600;
}
.header a:hover{
      color:#00abf0;
}
.navbar a{
      font-size: 19px; 
      color: aliceblue;
      text-decoration: none;
      font-weight: 500;
      margin-left: 35px;
      transition: 1s;
}
.navbar a:hover{
      color:#00abf0;
}

.Home{
      position: relative; 
      height: 100vh; 
      display: flex;
      align-items: center;
      padding: 0 10%;
}
  
.picture {
      position: absolute; 
      right: 0%; 
      bottom: 0; 
      height: calc(100vh - 40px); 
      width: auto; 
      object-fit: cover; 
}
  
.home-content {
      max-width: 650px;
}

.home-content h1{
      font-size:48px; 
      font-weight:700;
      color: aliceblue;
      transition: 2s;
      line-height: 1.2;
}

.home-content h3{
      font-size:32px; 
      font-weight:700;
      color: #00abf0;
      transition: 2s;
}
.home-content p{
      font-size: 16px;
      margin: 20px 0 40px;
}

.home-content .btn-box{
      display: flex;
      justify-content: space-between;
      width:345px;
      height: 50px;
}

.btn-box a{
      display: inline-flex;
      justify-content: center;
      align-items: center;;
      width: 150px;
      height: 100%;
      background: #00abf0;
      border:2px solid #00abf0;
      border-radius: 8px;
      font-size: 19px;
      color: #0b1b29;
      text-decoration: none; 
      font-weight: 600;
      letter-spacing: 1px;
}

.btn-box a:nth-child(2){
      background: transparent;
      color:#00abf0
}

.btn-box .a1:hover{
      background: transparent;
      color:#00abf0 ;
}
.btn-box .a2:hover{
      background:#00abf0 ;
      color:#0b1b29 ;
}

#particles-js{
    position: absolute;
    width: 100%;
    height: 100%;
    background:black; 
    top: 0;
    left: 0;
    z-index: -1; 
}

#pjs{
    position:absolute;
    width: 100%;
    height: 100%;
    background:black; 
    top: 0;
    left: 0;
    z-index: -1; 
}

.scroll-down-arrow {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 1000;
    font-size: 3rem; 
    color: aliceblue;
    opacity: 0.75;
    cursor: pointer; 
    animation: bounce 2s infinite; 
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px); 
    }
    60% {
      transform: translateY(-15px);
    }
  }
  
  


/* About Section */

#about{
    padding:80px 80px; 
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis:35%;
    

}
.about-col-1 img{
    width: 100%;
    height: 100%;
    border-radius:15px;
}

.about-col-2{
    flex-basis:60%
}
.about-col-2 h1{
    font-size: 60px;
    font-weight: 600;
    color: white;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px
}
.tab-links{
    margin-right: 50px;
    font-size:18px;
    font-weight:500;
    cursor: pointer;
    position:relative;
}
.tab-links::after{
    content: ' ';
    width: 0;
    height:3px; 
    background: #ff004f;
    position:absolute;
    left:0;
    bottom:-8px;
    transition:0.5s;
}
.tab-links.active-link::after{
    width:50%;
}

.education{
    background-color:transparent;
    border-radius: 15px;
    height: 200px;
    transition: 3s;
}

.ed-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ed-col-1{
    flex-basis:5%;
    
}


.ed-col-2{
    flex-basis:93%
}

.card-holder{
    display: flex;
    justify-content: center;
    gap: 20px;

}

#carouselExampleCaptions {
    max-width: 500px; 
    margin: auto; 
}
.carousel-item img {
    width: 100%; 
    height: auto; 
}
#carouselExampleCaptions1 {
    max-width: 500px; 
    margin: auto; 
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #000000; 

}

@media (min-width: 1024px) {
    .card-holder {
        gap: 40px; 
        padding: 0 10px; 
    }

    #carouselExampleCaptions, #carouselExampleCaptions1 {
        margin: 0 40px; 
    }
}


@media (max-width: 768px) {
    .card-holder {
        flex-direction: column; 
    }

    #carouselExampleCaptions, #carouselExampleCaptions1 {
        margin: 20px auto; 
    }
}

/* EXPERIENCE SECTION */ 

.Experience{
    background-color: black;
}
.timeline{
    position: relative;
    max-width:1200px;
    margin: 100px auto;
    padding: 20px;
}

.container1{
    padding:10px 50px;
    position: relative;
    width:50%;
    animation: movedown 1s linear forwards;
    opacity:0; 
    z-index: 1;
    
}

.container1:nth-child(1){
    animation-delay: 0s;
}
.container1:nth-child(2){
    animation-delay: 1s;
}
.container1:nth-child(3){
    animation-delay: 2s;
}
.container1:nth-child(4){
    animation-delay: 3s;
}
.container1:nth-child(5){
    animation-delay: 4s;
}
.container1:nth-child(6){
    animation-delay: 5s;

}

.container1:nth-child(7){
    animation-delay: 6s;
}
.container1:nth-child(8){
    animation-delay: 7s;
}

@keyframes movedown{
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{
        opacity:1;
        transform:translateY(0px)
    }
}
.text-box{
    padding: 20px 30px; 
    background:#fff;
    position:relative;
    border-radius:6px;
    font-size:15px;
}
.left{
    left:0;
}
.right{
    left:50%
}

.container1 img{
    position: absolute;
    width:40px;
    border-radius: 50%;
    right: -35px;
    top:32px;
    z-index: 10;
}

.right img{
    left:-35px
}


.timeline::after {
    content: ''; 
    position: absolute;
    width: 6px;
    background: #fff; 
    top: 0;
    bottom: 0; 
    left: 50%;
    margin-left: -3px; 
    z-index: 0; 
    animation: moveline 6s linear forwards;
}

.left-arrow{
    height: 0;
    width: 0;
    position:absolute;
    top:28px;
    z-index:1;
    border-top:15px solid transparent; 
    border-bottom: 15px solid transparent;
    border-left: 15px solid white;
    right:-15px;
}

.right-arrow{
    height: 0;
    width: 0;
    position:absolute;
    top:28px;
    z-index:1;
    border-top:15px solid transparent; 
    border-bottom: 15px solid transparent;
    border-right: 15px solid white;
    left:-15px;
}

@keyframes moveline{
    0%{
        height:0;
    }
    100%{
        height:100%;
    }
}

/* Project Section */ 

.Project{
    background-color: #000000;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.card {
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: 0.3s;
    border-radius: 5px;
}

.card:hover {
    background-color: #00abf0;
    border: #00abf0;
}

.card-img-top {
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-body {
    padding: 15px;
    background-color: white;
}

.btn-primary {
    color: white;
    background-color: blue;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.nav a{
    text-decoration: none;
    color: #fff;
}










@media (max-width: 600px) {
    .header {
        padding: 15px 5%;
        justify-content: center; 
    }

    .logo {
        font-size: 15px; 
    }

    .navbar a {
        font-size: 10px;
        gap: 2px;
        margin-left: 10px; 
    }

    .Home {
        padding-top: 60px; 
        padding-bottom: 20px; 
        padding-left: 5%; 
        padding-right: 5%; 
        flex-direction: column; 
        align-items: center; 
        height: auto; 
    }

    .home-content {
        text-align: center; 
        padding: 20px;
        width: 100%; 
        max-width: none; 
        margin-bottom: 20px; 
        order: 1; 
    }

    .home-content h1 {
        font-size: 32px; 
    }

    .home-content h3 {
        font-size: 24px; 
    }

    .picture {
        position: static; 
        width: 90%; 
        height: auto; 
        margin: 0 auto; 
        order: 2; 
    }

    .timeline{
        margin:50px auto;
    }
    .timeline::after{
        left:31px;
    }
    .container1{
        width:100%;
        padding-left: 80px;
        padding-right: 1px;
    }
    .text-box{
        font-size: 12px;
    }
    .text-box small{
        margin-bottom:10px;
    }
    .right{
        left:0;
    }
    .left img, .right img{
        left:-7px;
    }
    .left-arrow, .right-arrow{
        border-right:15px solid #fff;
        border-left:0;
        left:-15px
    }

}

@media (max-width: 768px) {
    #about {
        padding: 40px 20px;
    }


    .about-col-1, .about-col-2 {
        flex-basis: 100%;
        margin-bottom: 20px;
    }

    .about-col-1 img {
        height: auto;
        width: 80%; 
        display: block;
        margin: 0 auto; 
    }

    .about-col-2 h1 {
        font-size: 36px;
    }

    .tab-titles {
        flex-direction: column;
        align-items: flex-start;
    }

    .tab-links {
        margin-right: 0;
        margin-bottom: 10px;
        font-size: 16px;
    }

    .education {
        height: auto;
    }

    .ed-row {
        flex-direction: column;
        align-items: flex-start;
    }

    .ed-col-1, .ed-col-2 {
        flex-basis: 100%;
    }
}

  
  
  
  
  

  